
<div class="account">
        <ul>
          <li class="ripple">Sign Out</li>
          <li class="ripple">Switch account</li>
          <li class="ripple">Send feedback</li>
          <li class="ripple">Help</li>
        </ul>
      </div>
      <div class="side-menu">
        <div class="menu-holder">
          <button class="menu" type="menu"></button>
          <p><span>Phitaka</span></p>
        </div>
        <ul>
          <li class="active">Dashboard</li>
          <li>Settings</li>
          <li>Verifications</li>
          <li>Buy Load</li>
          <li>Pay Bills</li>
          <li>Entertainment</li>
          <li>Finance</li>
          <li>Hotel</li>
          <li>Investment</li>
          
          <li>Switch account</li>
          <li>Send feedback</li>
          <li>Help</li>
          <li>Sign Out</li>

        </ul>

      </div>
      <div class="side-menu-overlay"></div>
      <header>
        <button class="menu ripple" type="menu"></button>
        <h1>Dashboard</h1>
        <input class="desktop-only" id="input" type="text" placeholder="Search"/>

        PHC Conversion Rate: Buy: Php 255,000 | Sell: Php 250,000
        <div class="profile"></div>
        <ul>
          <li class="active">PHC Wallet</li>
          <li>BTC Wallet</li>
          <li>ETH Wallet</li>
          <li>XRP Wallet</li>
          <li>BCH Wallet</li>
          <li>LTC Wallet</li>
          <div class="slider"></div>
        </ul>
       
      </header>
      
      <main>
        <div class="container">
            <div class="row">
					<div class="col-lg-4">
                            <br>
                            <div class="rad-info-box rad-txt-success">
                                <i class="fa fa-money-bill"></i>
                                <span class="heading">PHC Balance</span>
                                <span class="value"><span>20,000,000,000.00</span></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                                <br>
                                <div class="rad-info-box rad-txt-success">
                                        <i class="fa fa-address-card fa-2x fa-fw"></i>
                                    <span class="heading">PHC Address</span>
                                    <span class="value"><small>0x32gUEHn1UwUir8pNLesko3XJCVccQvHU14</small></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                    <br>
                                <div class="rad-info-box rad-txt-success">
                                        <i class="fas fa-list-ol"></i>
                                    <span class="heading">Transactions</span>
                                    <span class="value"><span>49M</span></span>
                                </div>
                            </div>
                </div>
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6">
                        <ul class="slides">
                                <input type="radio" name="radio-btn" id="img-1" checked />
                                <li class="slide-container">
                                    <div class="slide">
                                        <img src="http://farm9.staticflickr.com/8072/8346734966_f9cd7d0941_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-6" class="prev">&#x2039;</label>
                                        <label for="img-2" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <input type="radio" name="radio-btn" id="img-2" />
                                <li class="slide-container">
                                    <div class="slide">
                                      <img src="http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-1" class="prev">&#x2039;</label>
                                        <label for="img-3" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <input type="radio" name="radio-btn" id="img-3" />
                                <li class="slide-container">
                                    <div class="slide">
                                      <img src="http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-2" class="prev">&#x2039;</label>
                                        <label for="img-4" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <input type="radio" name="radio-btn" id="img-4" />
                                <li class="slide-container">
                                    <div class="slide">
                                      <img src="http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-3" class="prev">&#x2039;</label>
                                        <label for="img-5" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <input type="radio" name="radio-btn" id="img-5" />
                                <li class="slide-container">
                                    <div class="slide">
                                      <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-4" class="prev">&#x2039;</label>
                                        <label for="img-6" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <input type="radio" name="radio-btn" id="img-6" />
                                <li class="slide-container">
                                    <div class="slide">
                                      <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                                    </div>
                                    <div class="nav">
                                        <label for="img-5" class="prev">&#x2039;</label>
                                        <label for="img-1" class="next">&#x203a;</label>
                                    </div>
                                </li>
                            
                                <li class="nav-dots">
                                  <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                                  <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                                  <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                                  <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                                  <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                                  <label for="img-6" class="nav-dot" id="img-dot-6"></label>
                                </li>
                            </ul>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!-- New User Profile -->
                    <form name="newUser" class="register">
                            <h1>Send PHC</h1>
                            <fieldset class="row1">
                                <legend>Transaction Details</legend>
                                <!-- EMAIL -->
                                <div class="form-group">
                                    <label>Source Wallet</label>
                                        <input type="text" class="form-control" readonly>
                                    <label>Amount in PHC</label>
                                        <input type="text" class="form-control" placeholder="e.g. 1.2">
                                </div>
                                <!-- PASSWORD -->
                                <div class="form-group">
                                    <label>Send To:</label>
                                        <input type="text" class="form-control" placeholder="Email Address/Mobile Number/PHC Address">
                                    <label>Reason for Sending</label>
                                        <textarea class="form-control"></textarea>
                                </div>
                            </fieldset>
                            <fieldset class="row4">
                                <legend>Terms and Conditions</legend>
                                <div class="agreement">
                                    <label>Please send only PHC to this address. Any other cryptocurrency that will be sent to the address will result to a lost of funds.</label>
                                </div>
                            </fieldset>
                            <div>
                                <button type="button" id="registerButton">Send PHC &raquo;</button>
                            </div>
                        </form>
</div> 

                <div class="col-lg-6">
                                                               <!-- New User Profile -->
                    <form name="newUser" class="register">
                        <h1>Receive PHC</h1>
                        <fieldset class="row1">
                            <legend>Transaction Details</legend>
                            
                            <label>PHC Address</label>
                            <input type="text" class="form-control" value="0x32gUEHn1UwUir8pNLesko3XJCVccQvHU14" readonly>
                            <br>
                            <img src="../../../assets/images/qr.png" class="img">
                            
                        </fieldset>
                        <fieldset class="row4">
                            <legend>Terms and Conditions</legend>
                            <div class="agreement">
                                <label>Please send only PHC to this address. Any other cryptocurrency that will be sent to this address will result to a lost of funds.</label>
                            </div>
                        </fieldset>
                        <!-- <div>
                            <button type="button" id="registerButton">Register &raquo;</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
      </main>